section>article {

    margin-top: 5rem;

    width: 50%;

    display: flex;
    flex-direction: column;

    gap: 2rem;
}

section>div {
    position: absolute;

    display: flex;
    gap: 2rem;

    bottom: 3rem;
    right: 3rem;
}

section>div h4 {
    font-weight: 900;
    font-size: 2rem;
    color: var(--solid);

    animation: palse 1s infinite;
}

@keyframes palse {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

section>div>div {

    font-size: 0.75rem;

    display: none;
    flex-direction: column;
    align-items: center;
}

article h1 {
    font-size: 4rem;
    font-weight: 900;

    line-height: 4rem;
    color: var(--solid);

}

article h2 {
    font-size: 1.25rem;
    font-weight: 300;

    letter-spacing: 2px;
    text-transform: uppercase;
    margin-left: 1rem;
    color: #FFF;
}

article h3 {
    font-size: 1rem;
    margin-left: 1rem;

}


.bg>img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    display: block;

    position: absolute;
    opacity: 1;
    top: 0;
    z-index: -10;

    right: 0;

}

.bg {
    position: absolute;
    z-index: -10;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    width: 100%;
    height: 100%;

    display: flex;
}







form {
    display: flex;
    flex-direction: column;

    gap: 1rem;

    width: 80%;
}

form>div {
    display: grid;
    grid-template-columns: repeat(8, 1fr);

    width: 100%;

    gap: 1rem;
}

form button {

    grid-column: span 2;

    background: var(--solid);
    text-transform: uppercase;

    font-weight: 900;

    border: none;
    border-radius: 5px;
    cursor: pointer;

    padding: 0.75rem 0;

}

form input {
    grid-column: span 6;

    text-align: center;
    width: 100%;

    padding: 0.25rem 0;
    border-radius: 5px;

    border: none;
}

form span {
    color: var(--solid);
}


.lin {
    position: absolute;
    width: calc(100% - 2rem);
    bottom: 2rem;

    display: none;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.lin p {
    font-weight: 900;
}

.lin a {

    justify-content: center;
    color: #000;

    background: var(--solid);

    font-weight: 900;

    border: none;
    border-radius: 5px;
    cursor: pointer;

    padding: 0.75rem 0;
}









@media only screen and (max-width: 480px) {

    section {
        display: flex;

        justify-content: center;
    }

    .bg>img {
        display: none;
    }

    section>article {

        margin-top: 0;
        width: 100%;

        text-align: left;

        gap: 2rem;
    }

    article h1 {
        font-size: 3rem;
        line-height: unset;
    }

    article h3 {
        margin-left: unset;
    }

    article h2 {
        display: flex;
    }

    article p {
        font-size: 0.75rem;

        font-weight: 300;
        opacity: 0.75;
    }

    form {

        width: 100%;
    }

    article h1>a {
        font-size: 1.5rem;
        animation: palse 1s infinite;
    }

    .lin {
        display: flex;
    }
}