@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Manrope";
}

:root {
    --solid: #DDF247;
    --text: #FFF;
    --bg: #101010;
}

a {
    color: unset;
    text-decoration: none;
}

body {
    background: var(--bg);
    color: var(--text);


    padding: 3rem;

    height: 100vh;
}

.dapp {

    display: grid;
    grid-template-rows: max-content calc(100% - 6rem);


    height: 100%;
}

.bg {
    position: absolute;
    z-index: -10;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    width: 100%;
    height: 100%;

    display: flex;
}

.bg>img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    display: block;

    position: absolute;
    opacity: 0.75;
    top: 0;
    z-index: -10;

    right: 0;

}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: max-content;

}

header>div:first-child {
    display: flex;
    align-items: center;
    gap: 3rem;
}

header .logo {
    align-items: center;
    display: flex;
    gap: 1rem;
}

header .logo h5 {
    font-size: 2rem;
    color: var(--solid);
    font-weight: 900;
}

header nav {
    display: flex;
    align-items: center;

    margin-top: 1rem;

    gap: 1rem;
    font-size: 0.85rem;
}

.active {
    color: var(--solid);
}

header>div:last-child {
    display: flex;
    align-items: center;
    gap: 1rem;
}

header>div:last-child a,
header .logo div {
    justify-content: center;
    align-items: center;
    display: flex;

    color: #000;
    background: var(--solid);
    border-radius: 10px;

    font-weight: 900;

    height: 3rem;
    width: 3rem;
}

header .logo div {
    font-size: 1.5rem;
}






@media only screen and (max-width: 480px) {

    body {
        padding: 2rem 1rem;
    }

    body section {
        justify-content: center;
        align-items: center;
    }

    .bg,
    header nav {
        display: none;
    }

}